{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


    <h1>Se connecter</h1>

    <form action="{{ path('secondlife_connexion') }}" method="post">
        <label name="mail">Mail</label>
        <input type="email" name="_username" required>
        <br>

        <label name="mdp">Mot de passe </label>
        <input type="password" name="_password" required>
        <br>

        <input type="submit" value="Se connecter">
    </form>
    
{% endblock %}
