{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-6 col-sm-6 col-12"  >
            <button type="button" class="btn btn-lg btn-outline-success">Contacter le vendeur</button>
        </div>
        <div class="col-xl-4 col-sm-6 col-12"  style="background-color:red">
            <p>
                <br>
                <br>
            </p>
        </div>
        <div class="col-xl-2 col-sm-12 col-12"  style="background-color:blue">
        <!--pub-->
            <p>
                <br>
                <br>
            </p>
        </div>
    </div>


{% endblock %}
