{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div>
        <h3>Pseudo</h3>
        <img src="image_profil.png" alt="image_de_profil"></a><br>
        <input type="text" class="form-control form-text bg-light" disabled>
        <input type="text" class="form-control form-text bg-light" disabled>
        <input type="text" class="form-control form-text bg-light" disabled>
        <button type="button" class="btn btn-sm btn-outline-secondary">contacter l'utilisateur</button>
    </div>
    <div style="background-color:red">
        <!--Annonces de l'utilisateur-->
        <p>
            <br>
            <br>
            <br>
        </p>
    </div>

    <div style="background-color:blue">
        <!--pub-->
        <p>
            <br>
            <br>
            <br>
        </p>
    </div>

{% endblock %}
