{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-6 col-sm-12 col-12">
            <h2>{{sous_titre_connexion}}<h2>
            <div class= "connexion col-6">
                <input type="email" class="form-control form-text" placeholder="Email : name@exemple.com">
                <input type="password" class="form-control form-text" placeholder="Mot de passe">
                <br>
                <button type="button" class="btn btn-lg btn-outline-success">Se connecter</button>
            </div>
        </div>
        <div class="inscription col-xl-6 col-sm-12 col-12">
            <h2>{{sous_titre_inscription}}<h2>
            <div class="col-8">
                <label class="form-label col-form-label-lg">Civilité  : </label>
                <input type="radio"  id="femme" name="genre" value="femme">
                <label for="female" class="form-label col-form-label-lg">Madame</label>
                <input type="radio"  id="homme" name="genre" value="homme">
                <label for="male" class="form-label col-form-label-lg">Monsieur</label><br>
                <input type="text" class="form-control form-text" placeholder="Nom : DUPOND">
                <input type="text" class="form-control form-text" placeholder="Prénom : Richard">
                <label class="form-label col-form-label-lg">Date de naissance  </label>
                <input type="date" class="form-label col-form-label-lg" id="anniversaire" name="anniversaire">
                <input type="email" class="form-control form-text" placeholder="Email : name@exemple.com">
                <input type="password" class="form-control form-text" placeholder="Mot de passe">
                <p class="h6"> Minimum 8 caractères avec au moins 1 Majuscule, 1 caractère spécial, 1 chiffre</p>
                <br>
                <p class="h6"> En cliquant sur "S'incrire", vous acceptez les conditions générales d'utilisation, les conditions générales de vente et la politique de confidentialité de SecondLife.</p>
                <br>
                <button type="button" class="btn btn-lg btn-outline-success">S'inscrire</button>
            </div>
        </div>
    <div>
{% endblock %}
