{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-10">
            <div>
                <h1>{{ titre_page }}</h1>
                <div class="row">
                    <select id="Trier par" class="col form-control form-select form-select-sm bg-light" name="trier">
                        <option value=""></option>
                    </select>
                    <select id="Filtrer par" class="col form-control form-select form-select-sm bg-light" name="Filtre">
                        <option value=""></option>
                    </select>
                    <button type="button" class=" col btn btn-sm btn-outline-secondary">cree une annonce</button>
                </div>
            </div>
            <div style="background-color:red">
                <!--Annonces de l'utilisateur-->
                <p>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>

        <div class="col-xl-2" style="background-color:blue">
            <!--pub-->
            <p>
                <br>
                <br>
                <br>
            </p>
        </div>
    </div>
{% endblock %}
