{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xl-2 col-sm-3 col-12">
        <h1>{{ titre_page }}</h1>
        <div>
            <div class="row">
                <button type="button" class="btn btn-sm btn-outline-secondary">Boite de reception</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-sm btn-outline-secondary">Messages non lus</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-sm btn-outline-secondary">Messages envoyés</button>
            </div>
        </div>
        <p style="background-color:blue">
            <br>
            <br>
        </p>
    </div>
    <div class="col-xl-5 col-sm-9 col-12">
        <label class="form-label col-form-label-sm">Tier par :</label>
                <select id="tri" class="form-control form-select form-select-sm" name="tri">
                    <option value="importance">Importance</option>
                    <option value="date_recente">Date Récente</option>
                    <option value="date_anciene">Date Anciene</option>
                </select>
        <p style="background-color:red">
            <br>
            <br>
        </p>
    </div>
    <div class="col-xl-5 col-sm-12 col-12"  style="background-color:green">
         <p>
            <br>
            <br>
        </p>
    </div>
</div>

{% endblock %}
