{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-10 xol-sm-12 xol-12" style="padding:2%">
            <div class="row">
                <h1 class="col">{{ titre_page }}</h1>
                <button type="button" class="col offset-xl-7 offset-sm-4 btn btn-sm btn-outline-secondary" style="margin-right:2%">voir mon profil</button>
            </div>
            <br>
            <div class="row infos_personnelles" style="border-style:solid; border-width:1px; border-color:#818D92; margin:1%; padding:1%">
                <h3 style="padding-bottom:0.5%"> Mes informations personnelles <h3>
                <div class="row">
                    <input class="col-xl-2 col-sm-6 col-12 form-label col-form-label-sm " type="file" id="image" name="image">
                    <div class=" offset-xl-0 col-xl-3 offset-md-6 col-sm-6 col-12">
                        <input type="text" class="form-control form-text bg-light" placeholder="Pseudo : Viiper">
                        <input type="text" class="form-control form-text bg-light" placeholder=" DUPOND">
                        <input type="text" class="form-control form-text bg-light" placeholder=" Richard">
                    </div>
                    <div class=" offset-xl-0 col-xl-3 offset-md-6 col-sm-6 col-12">
                        <input type="tel" class="form-control form-text bg-light" placeholder=" 06 48 97 16 52">
                        <input type="text" class="form-control form-text bg-light" placeholder="Paris">
                        <input type="number" min="9999" max"99999" class="form-control form-text bg-light" placeholder="75000">
                    </div>
                    <div class=" offset-xl-0 col-xl-4 offset-md-6  col-sm-6 col-12">
                        <input type="date" class="form-label col-form-label-sm bg-light" id="anniversaire" name="anniversaire">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Modifier mes informations</button>
                    </div>
                </div>
            </div>
            <div class="row gerer_annonces" style="border-style:solid; border-width:1px; border-color:#818D92; margin:1%; margin-top:2%; margin-bottom:2%; padding:1%">
                <h3  style="padding-bottom:0.5%"> Gérer mes annonces </h3>
                <div class="row justify-content-around" style="margin-left:1%">
                    <button type="button" class="col-xl-2 col-sm-4 col-5 btn btn-sm btn-outline-secondary">Ajouter une annonce</button>
                    <button type="button" class="col-xl-2 col-sm-4 col-5 btn btn-sm btn-outline-secondary">Gérer mes annonces </button>
                </div>
            </div>
            <div class="row parametres" style="border-style:solid; border-width:1px; border-color:#818D92; margin:1%; padding:1%">
                <h3  style="padding-bottom:0.5%">Paramètres</h3>
                <div class="col-xl-4 col-sm-4 col-12">
                    <input type="email" class="form-control form-text bg-light" placeholder="Email : name@exemple.com">
                    <br>
                    <button type="button" class="col offset-xl-4 btn btn-sm btn-outline-secondary">modifier adresse mail</button>
                </div>
                <div class="col-xl-4 col-sm-4 col-12">
                    <input type="password" class="form-control form-text bg-light" placeholder="ancien mot de passe">
                    <input type="password" class="form-control form-text bg-light" placeholder="nouveau mot de passe">
                    <br>
                    <button type="button" class="col offset-xl-4 btn btn-sm btn-outline-secondary">modifier le mot de passe</button>
                </div>
                <div class="col-xl-4 col-sm-4 col-12" style="margin-top:2%">
                    <button type="button" class="col offset-xl-4 btn btn-sm btn-outline-secondary">supprimer mon compte</button>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-12 col-12 pub" style="background-color:blue">
            <!--pub-->
            <p>
                <br>
                <br>
            </p>
        </div>
    </div>
   

{% endblock %}
