header,footer,.bouton{
    text-align:center;
}

ul{
    vertical-align: middle;
}

h5{
    padding-bottom:1%;
}

h1,h2,h3,.h, .espace_bas{
    padding-bottom:0.5%;
}

.titre_section_footer{
    padding-bottom:2%;
}
.resaux{
    margin:10%;
}
.bloc{
    margin:1%;
}
.sous_bloc{
    padding:1%;
}
.annonce{
    border-style:solid; 
    border-width:1px; 
    border-color:#818D92; 
    margin-bottom:3%; 
    padding:1.5%;
}

.autres_infos{
    text-align:center; 
    padding-bottom:2%;
}
.pub{
    border-style:solid; 
    border-width:1px; 
    border-color:#818D92;
}

.espace_haut{
    padding-top:1.2%;
}
.haut_bouton{
    margin-top: 3%;
}
.bouton_droit{
    text-align: right;
}

.images_annonce{
    margin:2%; 
    text-align:center;
}

.info_boutons{
    margin:2%; 
    padding-bottom:1%;
}

.info_annonce{
    padding-bottom:3%; 
    padding-top:3%;
}

.description{
    word-wrap : break-word;
}

.vendeur{
    border-style:solid; 
    border-width:1px; 
    border-color:#818D92; 
    padding:1%;
}

.espace_droit{
    margin-right: 2px;
}

.messagerie{
    border-style:solid; 
    border-width:1px; 
    border-color:#818D92; 
    margin:3%; 
    padding:10%; 
    padding-top:5%; 
    padding-bottom:5%; 
    text-align:center;
}

.bas_bouton{
    margin-bottom:5%;
}

.message{
    border-style:solid; 
    border-width:1px; 
    border-color:#818D92;
    margin-bottom: 1%;
}

.label{
    margin-top:2%;
}

.index{
    margin:1%; 
    padding:1%; 
    border-style:groove; 
    border-width:2px; 
    border-color:#818D92;
}

.sous_index{
    padding-bottom:0.5%; 
    padding-top:7%;
}

.prix{
    padding-left:0%;
}

.recherche{
    text-align:center;
    margin-top:10%;
    margin-bottom:5%;
}

.no_annonces{
    margin-top:10%; 
    text-align:center;
}

.favoris{
    border-style:solid; 
    border-width:1px; 
    border-color:#818D92; 
    padding:3%; 
    margin-bottom:5%;
}

.infos_personnelles,.parametres{
    border-style:solid;
    border-width:1px; 
    border-color:#818D92;
     margin:1%; 
     padding:1%;
}

.gerer_annonces{
    border-style:solid; 
    border-width:1px; 
    border-color:#818D92; 
    margin:1%; 
    margin-top:2%; 
    margin-bottom:2%; 
    padding:1%;
}

.supprimer{
    margin-top:4%;
    vertical-align:middle;
}

.profil{
    text-align:center;
    padding-bottom:0.5%; 
    margin:2%;
}

.connexion{
    padding-bottom:2%; 
    text-align:center;
}

.inscription{
    margin:2%; 
    padding:1%;
}

.inscription_elem{
    margin: auto; 
    margin-top:6%;
    margin-bottom:6%;
}

.p1{
    font-size:xx-small;
}
.p2{
    font-size:x-small;
}
.lien{
    margin-left:1%;
}
.barre_recherche{
    padding-right:2%;
}