{% extends 'base_admin.html.twig' %}

{% block title %}envoi message{% endblock %}

{% block body %}
    <h3>Rédiger/Envoyer un message</h3>
        <div class="row">
            <div class="col-sm-6" style="border: 2px solid grey; padding:5px; margin-left:12px; width:78%">
                <form style="margin:5px">
                    <div class="form-group row">
                        <label for="objet" class="col-sm-2 col-form-label">Expéditeur</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="emailExpediteur"
                                placeholder="mail de l'Expediteur" name="emailExpediteur">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="objet" class="col-sm-2 col-form-label">Destinataire</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="emailDestinataire"
                                placeholder="mail du destinataire" name="emailDestinataire">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="objet" class="col-sm-2 col-form-label">Object</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="objetEmail" placeholder="objet du mail"
                                name="objetEmail">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="contenu" class="col-sm-2 col-form-label">Contenu du message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="contenu" rows="7"></textarea>
                        </div>
                    </div>
                </form>

                <form style="margin:5px">
                    <div class="form-group">
                        <label for="fileupload">Parcourir les fichiers</label>
                        <input type="file" class="form-control-file" id="fileupload" multiple>
                    </div>
                </form>

                <div class="float-right" style="margin-bottom: 5px"><button type="submit"
                        class="btn btn-primary pull-right">Envoyer</button>
                </div>
            </div>

            <div class="col-sm-6" style="width:21%">
                <div class="panel panel-primary">
                    <div class="panel-heading">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            style="width:7%" alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            style="width:7%" alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            style="width:7%" alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            style="width:7%" alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            style="width:7%" alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            style="width:7%" alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}