{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}

<style>
    .column {
        float: right;
        width: 32%;
        text-align: left;
    }

    .separateur {
        height: 10px;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <h1>{{ titre_page }}</h1>
    </div>

    <div class="row">
        <div class="col-xl-2 col-sm-4 col-12">
            <form>
                <label class="form-label col-form-label-sm">Tier par :</label>
                <select id="tri" class="form-control form-select form-select-sm" name="tri">
                    <option value="prix_croissant">Prix Croissant</option>
                    <option value="prix_decroissant">Prix Décroissant</option>
                    <option value="plus_recent">Plus Récent</option>
                    <option value="plus_ancien">Plus Ancien</option>
                </select>
                <br>
            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel" style="border: 1px solid grey">
            <div class="row" style="margin-right: 2px">
                <div class="column">
                    <div class="panel" style="margin: 1px">

                        <div class="panel-body"><img src="https://placehold.it/130x130?text=IMG" class="img-responsive"
                                alt="Image">
                        </div>

                    </div>
                </div>
                <div class="column" style="margin-top: 3px">
                    <h6>Titre Annonce</h6>
                    <h6>Categorie</h6>
                    <h6>Ref</h6>
                    <h6>Lieu/Date</h6>
                    <h6>PRIX</h6>
                </div>
                <div class="column" style="margin-top: 20px">
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Afficher</button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Valider </button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Supprimer </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel" style="border: 1px solid grey">
            <div class="row" style="margin-right: 2px">
                <div class="column">
                    <div class="panel" style="margin: 1px">

                        <div class="panel-body"><img src="https://placehold.it/130x130?text=IMG" class="img-responsive"
                                alt="Image">
                        </div>

                    </div>
                </div>
                <div class="column" style="margin-top: 3px">
                    <h6>Titre Annonce</h6>
                    <h6>Categorie</h6>
                    <h6>Ref</h6>
                    <h6>Lieu/Date</h6>
                    <h6>PRIX</h6>
                </div>
                <div class="column" style="margin-top: 20px">
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Afficher</button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Valider </button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Supprimer </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-primary" style="min-height: 140px; border: 1px solid grey">
            <div class="panel-heading">
                <h5>PUBLICITE</h5>
            </div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-primary" style="min-height: 140px; border: 1px solid grey">
            <div class="panel-heading">
                <h5>PUBLICITE</h5>
            </div>

        </div>
    </div>
</div>

<div class="separateur"></div>

<div class="row">
    <div class="col-md-4">
        <div class="panel" style="border: 1px solid grey">
            <div class="row" style="margin-right: 2px">
                <div class="column">
                    <div class="panel" style="margin: 1px">

                        <div class="panel-body"><img src="https://placehold.it/130x130?text=IMG" class="img-responsive"
                                alt="Image">
                        </div>

                    </div>
                </div>
                <div class="column" style="margin-top: 3px">
                    <h6>Titre Annonce</h6>
                    <h6>Categorie</h6>
                    <h6>Ref</h6>
                    <h6>Lieu/Date</h6>
                    <h6>PRIX</h6>
                </div>
                <div class="column" style="margin-top: 20px">
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Afficher</button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Valider </button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Supprimer </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel" style="border: 1px solid grey">
            <div class="row" style="margin-right: 2px">
                <div class="column">
                    <div class="panel" style="margin: 1px">

                        <div class="panel-body"><img src="https://placehold.it/130x130?text=IMG" class="img-responsive"
                                alt="Image">
                        </div>

                    </div>
                </div>
                <div class="column" style="margin-top: 3px">
                    <h6>Titre Annonce</h6>
                    <h6>Categorie</h6>
                    <h6>Ref</h6>
                    <h6>Lieu/Date</h6>
                    <h6>PRIX</h6>
                </div>
                <div class="column" style="margin-top: 20px">
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Afficher</button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Valider </button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Supprimer </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-primary" style="min-height: 140px; border: 1px solid grey">
            <div class="panel-heading">
                <h5>PUBLICITE</h5>
            </div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-primary" style="min-height: 140px; border: 1px solid grey">
            <div class="panel-heading">
                <h5>PUBLICITE</h5>
            </div>

        </div>
    </div>
</div>
<div class="separateur"></div>

<div class="row">
    <div class="col-md-4">
        <div class="panel" style="border: 1px solid grey">
            <div class="row" style="margin-right: 2px">
                <div class="column">
                    <div class="panel" style="margin: 1px">

                        <div class="panel-body"><img src="https://placehold.it/130x130?text=IMG" class="img-responsive"
                                alt="Image">
                        </div>

                    </div>
                </div>
                <div class="column" style="margin-top: 3px">
                    <h6>Titre Annonce</h6>
                    <h6>Categorie</h6>
                    <h6>Ref</h6>
                    <h6>Lieu/Date</h6>
                    <h6>PRIX</h6>
                </div>
                <div class="column" style="margin-top: 20px">
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Afficher</button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Valider </button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Supprimer </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel" style="border: 1px solid grey">
            <div class="row" style="margin-right: 2px">
                <div class="column">
                    <div class="panel" style="margin: 1px">

                        <div class="panel-body"><img src="https://placehold.it/130x130?text=IMG" class="img-responsive"
                                alt="Image">
                        </div>

                    </div>
                </div>
                <div class="column" style="margin-top: 3px">
                    <h6>Titre Annonce</h6>
                    <h6>Categorie</h6>
                    <h6>Ref</h6>
                    <h6>Lieu/Date</h6>
                    <h6>PRIX</h6>
                </div>
                <div class="column" style="margin-top: 20px">
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Afficher</button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Valider </button>
                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Supprimer </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-primary" style="min-height: 140px; border: 1px solid grey">
            <div class="panel-heading">
                <h5>PUBLICITE</h5>
            </div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-primary" style="min-height: 140px; border: 1px solid grey">
            <div class="panel-heading">
                <h5>PUBLICITE</h5>
            </div>

        </div>
    </div>
</div>
<div class="separateur"></div>
</div>


{% endblock %}