{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    
    <div class="row" style="margin-bottom: 5px">
            <div class="col-sm-12">
                <h1 style="padding-left: 15px">{{ titre_page }}</h1>
            </div>
            
            <div class="col-md-6" style="width: inherit">
              
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span>Filtrer Par </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Categorie</a></li>
                            <li><a href="#">Sous Categorie</a></li>
                            <li><a href="#">Marque</a></li>
                            <li><a href="#">validé</a></li>
                            <li><a href="#">Pas encore Validé</a></li>
                        </ul>
                    </div>
             
            </div>
            <div class="col-md-6">
                <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span>Trier Par </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Categorie</a></li>
                            <li><a href="#">Sous Categorie</a></li>
                            <li><a href="#">Marque</a></li>
                            <li><a href="#">validé</a></li>
                            <li><a href="#">Pas encore Validé</a></li>
                        </ul>
                    </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel" style="border: 1px solid grey">
                    <div class="panel-heading">Annonce</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image">
                    </div>
                    <div class="panel-footer" style="align-content: center">
                       <button class="btn btn" type="submit">Afficher</button>
                       <button class="btn btn-primary" type="submit">Valider</button>
                       <button class="btn btn-danger" type="submit">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel" style="border: 1px solid grey">
                    <div class="panel-heading">Annonce</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image">
                    </div>
                    <div class="panel-footer" style="align-content: center">
                       <button class="btn btn" type="submit">Afficher</button>
                       <button class="btn btn-primary" type="submit">Valider</button>
                       <button class="btn btn-danger" type="submit">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: black">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: black">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel" style="border: 1px solid grey">
                    <div class="panel-heading">Annonce</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image">
                    </div>
                    <div class="panel-footer" style="align-content: center">
                       <button class="btn btn" type="submit">Afficher</button>
                       <button class="btn btn-primary" type="submit">Valider</button>
                       <button class="btn btn-danger" type="submit">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel" style="border: 1px solid grey">
                    <div class="panel-heading">Annonce</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image">
                    </div>
                    <div class="panel-footer" style="align-content: center">
                       <button class="btn btn" type="submit">Afficher</button>
                       <button class="btn btn-primary" type="submit">Valider</button>
                       <button class="btn btn-danger" type="submit">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: black">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: black">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>
            </div>
        </div>
   
    
                <div class="row">
            <div class="col-md-4">
                <div class="panel" style="border: 1px solid grey">
                    <div class="panel-heading">Annonce</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image">
                    </div>
                    <div class="panel-footer" style="align-content: center">
                       <button class="btn btn" type="submit">Afficher</button>
                       <button class="btn btn-primary" type="submit">Valider</button>
                       <button class="btn btn-danger" type="submit">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel" style="border: 1px solid grey">
                    <div class="panel-heading">Annonce</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image">
                    </div>
                    <div class="panel-footer" style="align-content: center">
                       <button class="btn btn" type="submit">Afficher</button>
                       <button class="btn btn-primary" type="submit">Valider</button>
                       <button class="btn btn-danger" type="submit">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: black">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: black">PRODUITS A VENDRE</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"alt="Image"></div>
                    <div class="panel-footer">Chaussures NIKE Air Force IV</div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
